body {
  height: 100vh;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #111631;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  height: 45px;
  z-index: 99;
}
.navbar > div {
  display: flex;
  width: 33%;
  color: white;
}
.workspace {
  padding: 4px 7px;
  border-radius: 5px;
  color: white;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
}
.user {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-weight: 600;
}
.user > p {
  font-size: 19px;
}
.navbar input {
  width: 95%;
  padding: 4px;
  border-radius: 5px;
  text-align: center;
  font-size: 17px;
  border: none;
  font-weight: 400;
}
.navbar button {
  padding: 4px 13px;
  border-radius: 5px;
  text-align: center;
  font-size: 15px;
  border: none;
}
#create {
  background-color: #00baab;
  margin-right: 15px;
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
}
#trial {
  background-color: #363c5b;
  color: white;
  font-weight: 400;
  word-spacing: 1px;
}
.navbar > div:nth-child(3) {
  justify-content: flex-end;
}
.box {
  display: flex;
}
.sidebar {
  width: 17%;
  height: calc(100vh - 45px);
  background-color: #363c5b;
  overflow: hidden;
  position: fixed;
  margin-top: 45px;
  padding: 10px 20px;
}
.sidebar > div {
  border-bottom: 1px solid black;
  padding-bottom: 20px;
}
.sidebar > div > div {
  display: flex;
  padding: 7px;
  align-items: center;
  color: white;
  margin-bottom: 7px;
  border-radius: 10px;
}
.sidebar > div > div:hover {
  background-color: rgba(225, 225, 225, 0.1);
}
.sidebar > div > div > img {
  width: 22px;
  margin-right: 10px;
}
.sidebar > div > div > p:hover {
  cursor: pointer;
}
.logOut > a > h4 {
  margin-top: 50px;
  color: white;
  border-bottom: none;
}
.details {
  margin-left: 17%;
  width: 83%;
  overflow-y: scroll;
  /* margin-left: 17%; */
}
.active {
  background-color: rgba(225, 225, 225, 0.1);
}
#extras {
  margin-top: 30px;
  padding: 7px;
  color: white;
}
#extras > h4 {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
  letter-spacing: 1px;
  padding: 6px 0;
  color: black;
  border-radius: 7px;
  padding-left: 15px;
  background-color: rgba(225, 225, 225, 0.2);
  border-left: 5px solid rgb(199, 189, 189);
}
.nav-2 {
  margin-top: 45px;
  width: 100%;
  padding: 15px 30px;
  border-bottom: 1px solid gainsboro;
  display: flex;
}
.nav-2 > div:nth-child(1) {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  width: 45%;
}
.nav-2 > div > img {
  width: 25px;
  margin-right: 15px;
}
.nav-3 {
  padding: 40px 0 20px 0;
}
.nav-3 > div {
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  justify-content: space-around;
}
.nav-3 > div input,
select {
  width: 23%;
  padding: 10px 20px;
  border: none;
  box-shadow: rgba(0.2, 0, 0, 0.16) 0px 1px 4px;
  font-size: 15px;
  border-radius: 5px;
}
.container {
  padding: 30px;
}
.container > div {
  width: 92%;
  box-shadow: rgba(0.3, 0, 0, 0.26) 0px 1px 4px;
  margin: auto;
}
.container > div > div:nth-child(1) {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  border: 1px solid rgb(222, 218, 218);
  font-weight: 500;
}
.projects > div > p {
  width: 25%;
}
a {
  text-decoration: none;
  color: white;
}
.task-detail {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 15px 30px;
  box-shadow: rgba(0.1, 0, 0, 0.16) 0px 1px 2px;
}
.task-detail div {
  width: 25%;
}
.status {
  color: #00baab;
  font-weight: 500;
}
.date {
  color: rgb(243, 44, 44);
}
.mark {
  color: white;
  padding: 10px 20px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  background-color: rgb(93, 204, 244);
  border-radius: 5px;
  cursor: pointer;
}
.mark:hover {
  color: rgb(119, 210, 243);
  background-color: white;
}
.comp {
  background-color: white;
  cursor: pointer;
}
.visible {
  display: none;
}
.completed > div > p {
  width: 33%;
}
.completed-detail {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 15px 30px;
  box-shadow: rgba(0.1, 0, 0, 0.16) 0px 1px 2px;
}
.completed-detail div {
  width: 33%;
}
#logOut {
  padding: 0%;
}
#logOut > div {
  margin-top: 20px;
  background-color: #fff;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  padding: 7px;
  border-radius: 7px;
}
#logOut > div > p {
  color: #00baab;
  font-weight: 900;
  letter-spacing: 1px;
}
@media (max-width: 720px) and (min-width: 480px) {
  .navbar {
    padding: 0 10px;
  }
  .navbar > div {
    display: flex;
    width: 30%;
    color: white;
  }
  .navbar input {
    display: none;
  }
  .navbar .workspace-name {
    display: none;
  }
  .navbar .workspace {
    padding: 8px 10px;
  }
  .navbar #create {
    font-size: 12px;
  }
  .sidebar a {
    display: none;
  }
  .sidebar #extras h4 {
    display: none;
  }
  .sidebar {
    width: 70px;
  }
  .sidebar > div {
    border-bottom: none;
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
}
