body{
    text-align: center;
    background-image: url(https://nifty.pm/static/media/waves-large@2x.0f45956af565d8c3dea9.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
#logo{
    width: 120px;
}
#container{
    /* border: 1px grey solid; */
    width: 1300px;
    height: 800px;
    margin-left: 250px;
    margin-top: 50px;
    display: flex;
   

}
#container>div{
    width: 50%;
   text-align: left;
   padding: 30px;
}
#container>div>h2{
    margin-bottom: 5%;
}
.label{
    background-image: linear-gradient(90deg,#fab35c,#f98a3f);
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 9%), inset 0 2px 3px 0 hsl(0deg 0% 100% / 15%);
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
    margin: -4px 4px 0 0;
    padding: 0 6px;
    text-transform: uppercase;
    vertical-align: middle;
    
}
#container>div>img{
    width: 600px;
    height: 350px;
    margin-top: 50px;
}

#pass{
    margin-left: 300px;
    
}
#child1>p{
    font-size: 25px;
}
#child2{
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: white;
}
#child2 h2{
    color: grey;
}
#child2 input {
    padding: 10px 180px;
    font-size: 20px;
    
}
#child2>#login{
    margin-top: 50px;
    padding: 10px 290px;
    font-size: 20px;
    background-color: skyblue;
    color: white;
    border: 0;
    border-radius: 10px;
    margin-bottom: 20px;
}
#child2>h3>#google{
  /* margin-left: 190px; */
  color: orange;
  text-decoration: none;
}
#child1{
    background-color: #fcf9f7;
    border-right: 1px solid #f1f1f1;
}
#child2>h3>#sso{
    /* margin-left: 200px; */
    color: black;
    text-decoration: none;
  }

#child2>#signup{
    padding:10px 90px ;
     color: orange;
    font-size: 20px;
    background-color: white;
    border-radius: 5px;
    margin-left: 140px;
    margin-top: 20px;
    border-color: grey;
}
#child2>h3{
    text-align: center;
}
#child2>h3>img{
    width: 20px;
}
.horizontal_line {
    
    width: 90%;
    height: 5px;
    border-top: 1px solid grey;
    line-height: 80%;
}
