body{
    text-align: center;
    background-image: url(https://niftypm.com/_nuxt/img/flying-papers.1f279aa.png);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 100% auto;
}
#logo{
    width: 120px;
    margin-bottom: 50px;
}

#input>input{
    padding: 20px 150px;
    font-size: 20px;
    border: 0;
}
#input{
    border: 1px solid #00baab;
    margin: auto;
    width: 750px;
    border-radius: 10px ;
}
#input>button{
    padding: 12px 25px;
    background-color: #00baab;
    box-shadow: 0 1px 4px rgb(0 0 0 / 11%);
    color: white;
    border-radius: 10px;
    font-size: 20px;
    border: 0;
}