* {
    padding: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}


#heading_title {
    /* border: 1px solid black; */
    width: 50%;
    line-height: 25px;
    margin: auto;
    margin-top: 150px;
}

#heading_title>h1 {
    text-align: center;
    font-weight: bold;
}

#heading_title>p {
    font-size: 25px;
    margin-top: -10px;
    text-align: justify;
    text-align: center;
}

#inside_main{
    /* border: 2px solid black; */
    display: grid;
    grid-template-columns: repeat(6,1fr);   
    gap: 10px;
    width: 90%;
    margin: auto;
}

.switch {
    /* border: 1px solid; */
    position: relative;
    display: inline-block;
    width: 40px;
    height: 23px;
    margin-top: -20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    /* margin-top: -10px; */
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    /* background-color: #2196F3; */
    background-color: teal;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(15px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 20px;
}

.slider.round:before {
    border-radius: 50%;
}

#Monnthly {
    /* border: 1px solid red; */
    display: flex;
    gap: 15px;
    text-decoration: none;

}
#Monnthly>span{
  text-decoration: none;
  color: rgb(78, 78, 78);
}
#Anuual {
    margin-top: -10px;
    font-size: 16px;
    text-decoration: none;
}

#sidebar{
    /* border: 1px solid blue; */
  padding-left: 10px;
  /* padding-top: 30px; */
  /* padding: 10px; */
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
  color: rgb(78, 78, 78);
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-top: 45px   ;
}



#div_section{
    /* border: 1px solid blue; */
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
    padding-bottom: 20px;
}
/* .plane_inner::before{
    background-color: #6d739d;
    
} */
.plane_head{
    font-family: "Whitney HTF",Lato,sans-serif;
    color: #6d739d;
    margin-top: 12px;
}

.plane_title{
    font-family: "Whitney HTF",Lato,sans-serif;
    color: #6d739d;
    font-size: 14px;
}

.plane_price{
    font-family: "Whitney HTF",Lato,sans-serif;
    color: #6d739d;
    margin-top: 30px;
}

.plane_inner_msg{
    font-family: "Whitney HTF",Lato,sans-serif;
    color: #6d739d;
    font-size: 15px;
    margin-top: 10px;
}

.plane_action{
    margin-top: 20px;
}

.btn{
    font-size: 20px;
    color: #6c729c;
    font-family: "Whitney HTF",Lato,sans-serif;
    border: none;
    background-color: white;
   
}
.btn:hover{
    text-decoration:underline;
}
.hrline{
    opacity: 0.1;
}


.unlimetedP p{
    /* border: 1px solid; */
    font-family: "Whitney HTF",Lato,sans-serif;
    color: #4e4e4e;
}

#free{
    color: #6c729c;
}



/* aksh1 */

#starter{
    color: #2196F3;
}
#pro{
    color: #02BDAD;
}

#BusinessID{
    color: #bb65f7;
}

#EnterpriseID{
    color: #424242;
}



.div4{
    border-top: 5px solid #bb65f7;
    border-radius: 10px;
}
.div1{
    border-top: 5px solid #6c729c;
    border-radius: 10px;
   
}

.div2{
    border-top: 5px solid #2196F3;
    border-radius: 10px;
}

.div3{
    border-top: 5px solid #02BDAD;
    border-radius: 10px;

}

.div5{
    border-top: 5px solid #424242;
    border-radius: 10px;

}


#haurt{
    /* border :1px solid red; */
       text-align: center;
       font-size: 75px;
       margin-top: 50px;
       margin-bottom: 40px;
}

#sponsor_img{
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    gap: 40px;
}

#sponsor_img img{
      width: 120px;
      margin-bottom: 40px;
}

#sponsor_img #vm{
    width: 80px;
}


#mid_section{
    /* border: 1px solid black; */
    margin-top: 50px;
}

#mid_section_part1 {
    /* border: 1px solid red; */

    text-align: center;
    margin: auto;
    margin-top: 20px;
    
}

#mid_section_part1 img{
  /* border: 1px solid red; */
   width: 3%;
}

#mid_section_part1 h1{
    /* border: 1px solid red; */
    font-size: 40px;
    margin-top: 20px;

}

#mid_section_part1 p{
    /* border: 1px solid red; */
    width: 40%;
    font-size: 20px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}


#mid_section_part2{
    /* border: 2px solid rgb(48, 6, 6); */
    display: flex;
    width: 80%;
    margin: auto;
    margin-bottom: 3%;

    
}

#nifty_div{
    /* border: 1px solid rgb(209, 14, 14);  */
    /* margin-top: 20px; */
    width: 40%;
    /* padding:   30px; */
    margin-left: 100px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding-top: 80px;   
}
.one_line{
    display: flex;
    justify-content: center;
}
.one_line img{
    /* border: 1px solid red; */
    width: 15%;
}
.one_line h1{
    /* border: 1px solid red; */
    margin-top: 25px;
    font-size: 25px;

}

.one_line h4{
    /* border: 1px solid red; */
    width: 22%;
    margin-top: 30px;
    font-size: 11px;
    margin-left: 10px;
    border-radius: 10px;
    padding: 8px;
    padding-left: 19px;
    background-color: #f98a3f;
    color: white;
    border: none;
}

.features{
    margin-left: 160px;
    margin-top: 25px;
}
.fe{
    display: flex;
    gap: 20px;
    color: #6c729c;
}
#backgr{
    color: rgb(9, 189, 205);
}


#nifty_stocks{
    /* border: 1px solid red; */
    /* box-shadow: rgba(44, 32, 32, 0.15) 1.95px 1.95px 2.6px; */
    /* width: 30%; */
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.stocks{
    /* border: 2px solid black; */
    display:  flex;
    /* box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; */
    justify-content: center;
    gap: 40px;
    padding-top: 10px;
    margin: auto;
}

.stocks img{
    /* border: 1px solid red; */
    width: 10%;
    padding: 2px;

}

.stocks h2{
    margin-top: 12px;
    font-size: 20px;

}

#mid_section_part3 h1{
    text-align: center;
}

#mid_section_part3 div{
    /* border: 1px solid red; */
    text-align: center;
    width: 50%;
}

#akash1{
    /* border: 1px solid red; */
    height: auto;
    width: 60%;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;

}

#akash1{
    /* border: 1px solid teal; */
    padding: 20px;
    display: flex;
    gap: 20px;
}
#akash1 div{
    /* border: 1px solid; */
    gap: 50px;
    padding: 20px;
    text-align: left;
}

.logoImageGoal{
    width: 10%;
    /* margin: auto; */
    margin-left: 636px;
    /* border: 1px solid; */
    margin-bottom: 30px;
   
}

.logoImageGoal img{
    height: 40px;
}
