.main-footer {
  background-color: #faf8f9;
}
img {
  width: 100%;
}
.footer-1 {
  display: flex;
  justify-content: center;
  padding: 50px 0 20px 0;
  border-bottom: 1px solid rgb(239, 235, 235);
}
.footer-1 > div {
  width: 13%;
  display: flex;
  flex-direction: column;
}
.footer-1 > div:nth-child(6) {
  width: 15%;
}
.footer-1 > div > p {
  margin-bottom: 24px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 550;
  letter-spacing: 0.2em;
  color: #00baab;
}
.footer-1 > div > a {
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  color: black;
  line-height: 26px;
}
.footer-2 {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.footer-2 > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-2 > div:nth-child(2) {
  width: 8%;
}
.footer-2 span {
  color: rgb(153, 148, 148);
}
.logo {
  width: 90px;
  margin-right: 20px;
  height: 30px;
}
svg:hover {
  cursor: pointer;
}
svg:hover .colored-path {
  fill: #00baab;
}
.signup-box {
  width: 48%;
  margin: auto;
  padding: 50px 89px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 2px 32px rgb(0 0 0 / 8%);
  border: 1px solid #00baab;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.applogo {
  width: 50px;
  margin-bottom: 12px;
}
.signup-box h4 {
  margin-bottom: 20px;
  font-size: 43px;
  font-weight: 700;
  margin-bottom: 25px;
}
.signup-box p {
  text-align: center;
  line-height: 25px;
  color: rgb(24, 23, 23);
  margin-bottom: 24px;
}
.signup-box input {
  height: 52px;
  width: 74%;
  padding: 0 15px;
  border-radius: 10px;
  font-size: 17px;
  color: #6c729c;
  background-color: rgba(185, 198, 217, 0.2);
  border: 1px solid transparent;
}
.signup-box .search {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin-bottom: 25px;
}
.signup-box button {
  width: 25%;
  background-color: #00baab;
  height: 50px;
  padding: 0 22px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
}
.signup-box .google {
  cursor: pointer;
  height: 52px;
  width: 100%;
  padding: 0 15px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.google img {
  margin-top: 5px;
  width: 17px;
  margin-right: 20px;
}
.google span:hover {
  color: #00baab;
}
.cards {
  padding: 20px 0;
  width: 35%;
  margin: auto;
  display: flex;
}
.cards > div {
  width: 20%;
}
.cards > div > img {
  width: 100%;
}
.slider {
  width: 100%;
  margin: auto;
  position: relative;
  display: grid;
  place-items: center;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #fff;
}
.slider-track {
  display: flex;
  justify-content: space-between;
  width: calc(600px * 10);
  animation: scroll 30s linear infinite;
  margin-top: 30px;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-600px * 5));
  }
}
.slider-track-2 {
  display: flex;
  justify-content: space-between;
  width: calc(600px * 10);
  animation: scroll2 30s linear infinite;
  margin-bottom: 70px;
}
@keyframes scroll2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-600px * 5));
  }
}
.card,
#gradient {
  height: 300px;
  width: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 60px 50px;
  border-radius: 14px;
  box-shadow: 0 2px 12px rgb(0 0 0 / 8%);
  background: rgb(120, 226, 227);
  background: linear-gradient(
    326deg,
    rgba(120, 226, 227, 1) 0%,
    rgba(255, 255, 255, 1) 33%,
    rgba(255, 255, 255, 1) 100%
  );
  text-align: center;
  overflow: hidden;
}
.card:nth-child(2) {
  background: rgb(246, 241, 241);
  background: linear-gradient(
    41deg,
    rgba(246, 241, 241, 1) 68%,
    rgba(237, 201, 142, 1) 100%
  );
}
.card:nth-child(3) {
  background: rgb(247, 239, 239);
  background: linear-gradient(
    209deg,
    rgba(247, 239, 239, 1) 68%,
    rgba(246, 239, 138, 1) 100%
  );
}
.card:nth-child(4) {
  background: rgb(246, 241, 241);
  background: linear-gradient(
    335deg,
    rgba(246, 241, 241, 1) 68%,
    rgba(246, 213, 237, 1) 100%
  );
}
.card:nth-child(5) {
  background: rgb(246, 241, 241);
  background: linear-gradient(
    41deg,
    rgba(246, 241, 241, 1) 68%,
    rgba(241, 180, 180, 1) 100%
  );
}
.card:nth-child(6) {
  background: rgb(246, 241, 241);
  background: linear-gradient(
    41deg,
    rgba(246, 241, 241, 1) 68%,
    rgba(172, 242, 227, 1) 100%
  );
}
.card:nth-child(7) {
  background: rgb(247, 239, 239);
  background: linear-gradient(
    209deg,
    rgba(247, 239, 239, 1) 68%,
    rgba(246, 239, 138, 1) 100%
  );
}
.card:nth-child(8) {
  background: rgb(246, 241, 241);
  background: linear-gradient(
    41deg,
    rgba(246, 241, 241, 1) 68%,
    rgba(241, 180, 180, 1) 100%
  );
}
.card:nth-child(9) {
  background: rgb(246, 241, 241);
  background: linear-gradient(
    198deg,
    rgba(246, 241, 241, 1) 68%,
    rgba(240, 183, 102, 1) 100%
  );
}
.card:nth-child(6) {
  background: rgb(246, 241, 241);
  background: linear-gradient(
    41deg,
    rgba(246, 241, 241, 1) 68%,
    rgba(172, 242, 227, 1) 100%
  );
}
.card > p {
  line-height: 30px;
  font-weight: 400;
  font-size: 18px;
}
#gradient > p {
  line-height: 30px;
  font-weight: 400;
  font-size: 18px;
}
.card h4 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #56647b;
}
#gradient h4 {
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #56647b;
}

#gradient:nth-child(4) {
  background: rgb(246, 241, 241);
  background: linear-gradient(
    41deg,
    rgba(246, 241, 241, 1) 68%,
    rgba(237, 201, 142, 1) 100%
  );
}
#gradient:nth-child(6) {
  background: rgb(246, 241, 241);
  background: linear-gradient(
    41deg,
    rgba(246, 241, 241, 1) 68%,
    rgba(237, 201, 142, 1) 100%
  );
}
#gradient:nth-child(1) {
  background: rgb(247, 239, 239);
  background: linear-gradient(
    209deg,
    rgba(247, 239, 239, 1) 68%,
    rgba(246, 239, 138, 1) 100%
  );
}
#gradient:nth-child(2) {
  background: rgb(246, 241, 241);
  background: linear-gradient(
    335deg,
    rgba(246, 241, 241, 1) 68%,
    rgba(246, 213, 237, 1) 100%
  );
}
#gradient:nth-child(3) {
  background: rgb(246, 241, 241);
  background: linear-gradient(
    41deg,
    rgba(246, 241, 241, 1) 68%,
    rgba(241, 180, 180, 1) 100%
  );
}
#gradient:nth-child(8) {
  background: rgb(246, 241, 241);
  background: linear-gradient(
    41deg,
    rgba(246, 241, 241, 1) 68%,
    rgba(172, 242, 227, 1) 100%
  );
}
#gradient:nth-child(5) {
  background: rgb(247, 239, 239);
  background: linear-gradient(
    209deg,
    rgba(247, 239, 239, 1) 68%,
    rgba(246, 239, 138, 1) 100%
  );
}
#gradient:nth-child(10) {
  background: rgb(246, 241, 241);
  background: linear-gradient(
    41deg,
    rgba(246, 241, 241, 1) 68%,
    rgba(241, 180, 180, 1) 100%
  );
}
#gradient:nth-child(7) {
  background: rgb(246, 241, 241);
  background: linear-gradient(
    198deg,
    rgba(246, 241, 241, 1) 68%,
    rgba(240, 183, 102, 1) 100%
  );
}
#gradient:nth-child(9) {
  background: rgb(246, 241, 241);
  background: linear-gradient(
    41deg,
    rgba(246, 241, 241, 1) 68%,
    rgba(172, 242, 227, 1) 100%
  );
}
.banner {
  background-color: #fff;
  padding: 30px 0;
}
.banner p {
  color: #00baab;
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 10px;
}
.banner h1 {
  letter-spacing: 1px;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 5px;
}
.banner > div {
  width: 80%;
  margin: auto;
}
.banner > div > div {
  display: flex;
  justify-content: space-between;
}
